* {
    margin: 0;
}

.feature {
    background-color: yellowgreen;
    background-size: cover;
    height: 100vh;

    position: relative;
}

.forest {
    background-image: url('./images/forest.jpg');
}

.beach {
    background-image: url('https://images.unsplash.com/photo-1473116763249-2faaef81ccda?q=80&w=1496&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
}


.cta-box {
    position: absolute;
    bottom: 225px;
    left: 125px;
}